html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*::after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: #FCF8F5;
}
img{
    max-width: 100%;
}
@font-face {
    font-family: 'fuente';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family:'fuente2';
    src: url(/assets/fonts/static/RedHatText-Bold.ttf);
}
.header{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
}   
.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}    
.encabezado {
    color:#271208;
    font-family: 'fuente2',sans-serif, Times, serif;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
}
.card{
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
    border: 2px solid transparent; /* borde inicial invisible */
    border-radius: 10px;
    transition: border-color 0.2s ease-in-out;
}

.card picture img {
  width: 50%;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/*.card picture img:active {
    border: 3px solid #CF370D;
    cursor: pointer;   /* agranda ligeramente la imagen 
  filter: brightness(0.9); /* oscurece un poco 
}*/

.button-add span {
  cursor: pointer;
  padding: 0 5px;
  font-weight: bold;
}

.card-contenido picture {
  border-radius: 1rem;

}  
.card-contenido picture img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .info-card h4{
    font-size: 1rem;
    color:#A39690 ;
    font-family: 'fuente2',sans-serif;
}
.card-contenido .button-add{
    position: relative;
    max-width: 200px;
    top: -20px;
    left: 100px;
    height:45px;
    background: #ffffff;           
    border: 1px solid #DED4D4;     
    border-radius: 28px;          
    padding: 10px 20px;              
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;   /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-shrink: 0;
    white-space: nowrap;  
}
.button-add img{
    width: 4rem;
    height: 3rem;
}
.button-add a {
    text-decoration: none;
    font-family: 'fuente', sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color:#271208 ;
    white-space: nowrap;
}

.button-add.activo {
    background-color: #C83B0E; /* fondo naranja del botón */
    color:#ffffff;             /* texto blanco */
    border: 1px solid #C83B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;             /* espacio entre - cantidad + */
    transition: all 0.3s ease;
}

.button-add .btn-minus,
.button-add .btn-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;            /* tamaño del círculo */
    height: 2.5rem;
    border-radius: 50%;        /* círculo perfecto */
    color: #ffffffff;            /* texto blanco */
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;         /* evita selección de texto al hacer clic */
    transition: all 0.2s ease;
}

.info-card{
    width:100%;
    height: 5rem;
    margin-bottom: 4rem;
}
.info-card p{
    margin: 0;
    line-height: 2;
}
.info-card .category{
    font-size: 1.8rem;
    font-weight: lighter;
    color:#88635C;
    line-height: 0%;
}
.info-card .name{
    color:#271208;
    font-family:sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.info-card .precio .price{
    font-family: 'fuente',sans-serif,'Times New Roman', Times, serif;
    color:#CF370D;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}
.carrito{
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: left;
    background-color: #ffff;
    font-family: 'fuente', sans-serif;
}
.carrito h2{
    color: #CF370D;
    font-family: 'fuente',sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
}

.item-carrito{
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-carrito .nombre-plato{
    font-family: 'fuente2',sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.fila-detalle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.fila-detalle .cantidad-plato{
    color: #CF370D;
    font-weight: bold;
}

.fila-detalle .valor-unitario{
    color: #88635C;
}
.fila-detalle .valor-total{
    color: #88635C;
    font-weight: bold;
}
.fila-detalle .borrar-plato{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;          /* tamaño del círculo */
    height: 20px;
    border: 1px solid #B6B0B0;
    border-radius: 50%;   /* esto hace el círculo */
    transition: background 0.3s ease;
}
.borrar-plato img {
  width: 14px; 
  height: 14px;
}

.carrito-vacio{
   display: flex;
    justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

#cantidad-platos{
    color: #CF370D;
    font-weight: bold;
}
#carrito-contenedor{
    display: block;
}
.carrito-total{
  display: flex;
  justify-content: space-between; /* separa los <p> */
  align-items: center; /* centra verticalmente */
  padding: 10px;
  border-top: 1px solid #ccc;
}

.carrito-total .orden-total{
    color: black;
    font-family: 'fuente2',;
}

.carrito-total .cantidad-total{
    font-weight: bold;
    font-family: 'fuente2',;
    font-size: 2.5rem;
}
.carrito-mensaje p{
    text-align: center;
    color: #88635C;
    margin-bottom: 1rem;
}
.carrito-mensaje{
    display: none;
}
.carrito-mensaje span{
    font-weight: bold;
}
.imagen-carrito {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    text-align: center;
}
.imagen-carrito img {
    width: 200px; /* ajusta tamaño si deseas */
    height: auto;
    margin-bottom: 10px; /* separa un poco del texto */
}
.imagen-carrito p{
    display: inline-block;
    color: #88635C;
    margin-bottom: 1rem;
}
.carrito-carbon{
    display: flex;
    align-items: center;
    align-content: center;
    gap:10px ;
    background-color: #FCF8F5;
    margin-bottom: 2.5rem;
}
.carrito-carbon img{
    margin-left: 4rem;
}
.carrito-carbon p span{
    font-weight: bold;
}
.confirmar-orden {
    background-color: #C83B0E;
    color:#ffffff;             /* texto blanco */
    border: 1px solid #C83B0E;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;         
    transition: all 0.3s ease;
    border-radius: 28px; 
    cursor: pointer;
}
.confirmar-orden p{
    font-weight: bold;
}

.attribution {
   font-size: 0.688rem;
   text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
.modal{
    width: 50rem;
    height: 55rem;
    border-radius: 1rem ;
    padding: 10px 20px;
    position: fixed;
    background-color:#ffffff;
}

.titulo-modal{
    line-height: 2rem;
}
.titulo-modal h1{
    font-size: 4rem;
    font-family: 'fuente',sans-serif;
}

.titulo-modal p{
    color: #88635C;
    font-weight: bold;
    margin-bottom: 1rem;
}
.plato-modal{
    padding: 20px 20px;
}
.modal-item{
     display: flex;
    align-items: center;
    align-content: center;
    gap: 1rem;
}



.modal-carrito{
    width: 95%;
    height: 270px;
    background-color: #C83B0E;
    margin-bottom: 2rem;
}

.nuevo-pedido{
    background-color: #C83B0E; /* fondo naranja del botón */
    color:#ffffff;             /* texto blanco */
    border: 1px solid #C83B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;             /* espacio entre - cantidad + */
    transition: all 0.3s ease;
    width: 90%;
    border-radius: 28px;  
}

.nuevo-pedido{
    font-size: 1.5rem;

}









/*Tablet*/
@media(min-width: 768px){
    .header{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .dos-columnas{
        display: grid;
        grid-template-columns:70% 30%;
        column-gap: 0.5rem;
    }
    /*.contenedor-principal .titulo-platos{
        width: 100%;
        height: 10rem;
    }*/
    .carrito{
        width: 100%;
        margin-top: 3rem;
        height: 40rem;
    }
    .carrito-contenido p{
        margin-bottom: 0.5rem;
    }
    .filas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height:40rem;
    }
    .card{
        width: 95%;
        height: 35rem;
        text-align: left;
    }
    .card-encabezado{
        position: relative;
        width: 100%;
        height: 20rem;
        background-size: cover;
        border-radius: 1rem;
    }
    .info-card h2{
        font-size: 2rem;
    }
    .info-card .name{
        font-size: 1.7rem;
    }
    .card-contenido .button-add{
        position: relative;
        width: 17rem;
        background: #ffffff;          
        border: 1px solid #DED4D4;   
        border-radius: 28px;            
        padding: 10px 20px;
        margin-left: -50px;
        color: #000000;                 
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;   
        justify-content: center;
        flex-shrink: 0;
        white-space: nowrap;
        gap: 4px; 
    }
    .button-add img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .button-add.activo {
    background-color: #C83B0E; /* fondo naranja del botón */
    color:#ffffff;             /* texto blanco */
    border: 1px solid #C83B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;             /* espacio entre - cantidad + */
    transition: all 0.3s ease;
    }   

    .imagen-carrito {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        text-align: center;
    }
    .imagen-carrito img {
        width: 200px; /* ajusta tamaño si deseas */
        height: auto;
        margin-bottom: 10px; /* separa un poco del texto */
    }

    .imagen-carrito p{
        display: inline-block;
        color: #88635C;
        margin-bottom: 1rem;
    }

    .button-add a {
        text-decoration: none;
        font-family: 'fuente', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color:#271208 ;
        white-space: nowrap;
    }


}