html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*::after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: #FCF8F5;
}
img{
    max-width: 100%;
}
@font-face {
    font-family: 'fuente';
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family:'fuente2';
    src: url(/assets/fonts/static/RedHatText-Bold.ttf);
}
.header{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
}   
.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}    
.encabezado {
    color:#271208;
    font-family: 'fuente2',sans-serif, Times, serif;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
}
.card{
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}
.card picture{
    width: 100%;
}
.card-contenido picture {
  border-radius: 1rem;
  overflow: hidden;
  display: block;
}  
.card-contenido picture img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .info-card h4{
    font-size: 1rem;
    color:#A39690 ;
    font-family: 'fuente2',sans-serif;
}
.card-contenido .button-add{
    position: relative;
    max-width: 200px;
    top: -20px;
    left: 100px;
    height: 45px;
    background: #ffffff;           
    border: 1px solid #DED4D4;     
    border-radius: 28px;          
    padding: 10px 20px;              
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;   /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-shrink: 0;
    white-space: nowrap;  
}
.button-add img{
    width: 4rem;
    height: 3rem;
}
.button-add a {
    text-decoration: none;
    font-family: 'fuente', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color:#271208 ;
    white-space: nowrap;
}
.info-card{
    width:100%;
    height: 5rem;
    margin-bottom: 4rem;
}
.info-card p{
    margin: 0;
    line-height: 2;
}
.info-card .category{
    font-size: 1.8rem;
    font-weight: lighter;
    color:#88635C;
    line-height: 0%;
}
.info-card .name{
    color:#271208;
    font-family:sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.info-card .precio .price{
    font-family: 'fuente',sans-serif,'Times New Roman', Times, serif;
    color:#CF370D;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    line-height: 1;
}

.carrito{
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    background-color: #ffff;
}
.carrito h2{
    color: #CF370D;
    font-family: 'fuente',sans-serif;
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
}
.imagen-carrito img{
    width: 50%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.carrito-contenido p{
    color: #88635C;
    margin-bottom: 1rem;
}

.attribution {
   font-size: 0.688rem;
   text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

/*Tablet*/
@media(min-width: 768px){
    .header{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .dos-columnas{
        display: grid;
        grid-template-columns:70% 30%;
        column-gap: 0.5rem;
    }
    /*.contenedor-principal .titulo-platos{
        width: 100%;
        height: 10rem;
    }*/
    .carrito{
        width: 100%;
        margin-top: 3rem;
        height: 30rem;
    }
    .carrito-contenido p{
        margin-bottom: 0.5rem;
    }
    .filas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height:40rem;
    }
    .card{
        width: 95%;
        height: 35rem;
        text-align: left;
    }
    .card-encabezado{
        position: relative;
        width: 100%;
        height: 20rem;
        background-size: cover;
        border-radius: 1rem;
    }
    .info-card h2{
        font-size: 2rem;
    }
    .info-card .name{
        font-size: 1.7rem;
    }
    .card-contenido .button-add{
        position: relative;
        width: 17rem;
        background: #ffffff;          
        border: 1px solid #DED4D4;   
        border-radius: 28px;            
        padding: 10px 20px;
        margin-left: -50px;
        color: #000000;                 
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;   
        justify-content: center;
        flex-shrink: 0;
        white-space: nowrap;
        gap: 4px; 
    }
    .button-add img{
        width: 2.5rem;
        height: 2.5rem;
    }
    .button-add a {
        text-decoration: none;
        font-family: 'fuente', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color:#271208 ;
        white-space: nowrap;
    }
}